<% characters = User.find_by_id(session[:user_id]).characters %>


<table>
  <thead>
    <th>Name</th>
    <th>Race</th>
    <th>Class</th>
  </thead>
  <tbody>
    <% characters.each do |character| %>
      <tr>
        <td><%= link_to character.name, character %></td>
        <td><%= character.race.name %></td>
        <td><%= character.pc_class.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

